@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:poppins, sans-serif
}

/* HEADER STYLING */
.section {
    position:relative;
    margin:0 auto;
    max-width:1440px;
}

.nav-section {
    margin:0 auto;
    display:flex;
    max-width:1440px;
    height:100px;
    background-color:#FFFFFF;
}

.nav {
    width:94%;
    display:flex;
    justify-content:space-between;
    margin-left:3%;
}

.navlogo {
    display:flex;
    align-items:center;
}

.navlogo_img {
    width:30%;
}

.navlogo_item {
    font-weight:bold;
    font-size:x-large
}

.navbar {
    width:31%;
    display:flex;
    align-items:center;
}

.navbar_menu {
    width:100%;
    display:flex;
    justify-content:space-between;
}

.navbar_item {
    list-style-type:none;
}

.navbar_link {
    text-decoration:none;
    color:#000000;
}

.navicon {
    position:relative;
    width:17%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.navicon_img {
    width:80%;
}

#notification {
    width:8%;
    text-align:center;
    position:absolute;
    top:1.5rem;
    left:11.5rem;
    font-size:0.8rem;
    color:#FFF;
    border-radius:50%;
    background-color:#F00;
    display:none;
}

#notification-text {
    width:20%;
    text-align:center;
    position:fixed;
    font-size:12px;
    top:2px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding:5px;
    color:#FFF;
    background-color:#B88E2F;
    border-radius:1rem;
    z-index: 1;
    animation:alert-slide .5s ease-in-out;
    display:none;
}

@keyframes alert-slide {
    from{
        top:-10%;
    }

    to {
        top:2px;
    }
}


/* MAIN CONTENT STYLING STARTS HERE */

/* FIRST CONTAINER STYLING STARTS HERE */

.container {
    margin:0 auto;
    max-width:1440px;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.first-container {
    display:flex;
    justify-content: end;
    width:100%;
    min-height:716px;
    background:url(../assets/images/first_content\ background.png);
    background-repeat:no-repeat;
    background-size:cover;
}

.first-container__content {
    width:47%;
    height:443px;
    padding:31px 43px;
    margin-top:200px;
    margin-right:58px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:#FFF3E3;
    border-radius:10px;
}

.first-container__item {
    margin-top:4%;
}

.first-container__item1 {
    letter-spacing: 3px;
}

.first-container__item2 {
    width:98%;
    color:#B88E2F;
    font-size:52px;
}

.first-container__btn {
    width:35%;
    height:5rem;
    border:none;
    color:#FFFFFF;
    background-color:#B88E2F;
    box-shadow: 0 0 2px black
}

/* FIRST CONTAINER STYLING ENDS HERE */


/* SECOND CONTAINER STYLING STARTS HERE*/

.second-container {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    max-width:87%;
    height:685px;
    margin-top: 55px;
}

.second_container_item {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.second-container_item1 {
    font-size:32px;
}

.second-container_item2 {
    font-size:20px;
    text-indent: 12rem;

}

.second-container_img {
    display:grid;
    margin-top:20px;
    gap:20px;
    grid-template-columns:3fr;
    grid-template-areas: 
    ".second-container_img1 .second-container_img2 .second-container_img3";
}

.second-container_img1, .second-container_img2, .second-container_img3 {
    border-radius:1rem;
}

.second-container_figcaption1, .second-container_figcaption2, .second-container_figcaption3 {
    display:flex;
   justify-content:center;
   margin-top: 30px;
   font-size:large;
}

/* SECOND CONTAINER STYLING ENDS HERE */


/* THIRD CONTAINER STYLING STARTS HERE */

.image-container {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    width:90.5%;
    height:1084px;
    margin-top:57px;
}

.image-container_heading {
    text-align:center;
    font-size:40px;
}

.image-container_img {
    display:grid;
    gap:30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2, 1fr) ;

    /* DID NOT DO WHAT I THOUGHT IT WOULD SO I COMMENTED IT OUT AND OBSERVED THAT THE FUNCTION I THOUGHT IT WAS DOING STILL WORKS SO IT MEANS THAT IT IS NOT FUNCTIONAL HERE RIGHT NOW */


/*     grid-template-areas:
    '.third-container_img1 .third-container_img1 .third-container_img3 .third-container_img4'
    '.third-container_img5 .third-container_img6 .third-container_img7 .third-container_img8'; */
}

.image-container_figcaption {
    background-color:#F4F5F7;
    padding:16px 16px 15px  42px;
    line-height:2rem;
}

.image_text {
    color:#898989;
}

.image_spantext {
    text-decoration:line-through;
    color:#898989;
    margin-left:5%;
    font-size:small;
}

.image-container_btn {
    width:17%;
    height:48px;
    color:#B88E2F;
    border:1px solid #B88E2F;
    background-color:#FFFFFF;
}

.product-card {
    position:relative;
}

.overlay {
    position:absolute;
    line-height:4rem;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0 , 0.5);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition:0.5s ease-in;
    opacity:0;
}

.image-container .product-card:hover .overlay {
    opacity:1;
}

.icons {
    font-weight:lighter;
    font-size:small;
    color:#FFFFFF;
    display:flex;
    gap:3rem;
    cursor:pointer;
}

.add-to-cart { 
    width:70%;
    height:48px;
    border:none;
    background-color:#FFFFFF;
    box-shadow:0 0 20px rgb(100, 98, 98);
    color:#B88E2F;
}

/* image CONTAINER STYLING ENDS HERE */

/* FOURTH CONTAINER STYLING STARTS HERE */

.fourth-container {
    max-width:100%;
    width:100%;
    height:670px;
    display:flex;
    margin-top:24px;
    position:relative;
}

.fourth-container_content {
    width:87%;
    height:inherit;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:#FCF8F3;
}


.fourth_content {
    width:37%;
    height:211px;
    margin-left:8rem;
    /* overflow:scroll; */
}
.fourth-container_heading {
    font-size:40px;
}
.fourth-container_text {
    font-size:16px;
}

.fourth-container_text {
    margin-top:2%;
}

.fourth-container_btn {
    width:14%;
    height:48px;
    margin-left:8rem;
    background-color:#B88E2F;
    color:#FFFFFF;
    border:none;
    outline:none;
    box-shadow:0 0 5px #B88E2F
}
.slider_container {
    position:absolute;
    width:55%;
    height:582px;
    right:0;
    bottom: 0;
}

.slider {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    gap:2%;
    scrollbar-width: none;
    overflow-x: scroll;
    overflow-y:hidden ;
}

.slider ::-webkit-scrollbar {
    display:none;
}

.slider_btn, .prev_btn{
    position:absolute;
    width:2rem;
    height:2rem;
    border-radius:3rem;
    top:50%;
    right:5rem;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: #FFFFFF;
    color:#B88E2F;
    border:none;
}


.prev_btn {
    left:5%;
}

/* FOURTH CONTAINER STYLING ENDS HERE */

/* FIFTH CONTAINER STYLING STARTS HERE */

.fifth-container {
    width:100%;
    height:721px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:83px;
}

.fifth-container_text {
    text-align:center;
}


.image_gallery {
    width:inherit;
    height:inherit;
    gap:2%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image_gallery img {
    object-fit: contain;
}

/* FIFTH CONTAINER STYLING ENDS HERE */

/* FOOTER STYLING STARTS HERE */

.footer {
    border-top:1px solid rgba(0, 0, 0 , 0.3);
    margin:12px auto 0;
    font-size:13px;
    max-width:1440px;
    height:505px;
    display:flex;
    justify-content:center;
}

.footer_content {
    margin-top:67px;
    width:90%;
    height:400px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.footer_items {
    width:87%;
    height:312px;
    display:flex;
    justify-content: space-between;
}

.footer_item1 {
    width:26%;
}

.footer_header {
    font-size:24px;
}

.item1_text {
    margin-top:50px;
    color:#9F9F9F;
}

.footer_lasttext {
    border-top:1px solid rgba(0, 0, 0 , 0.3);
    height:59px;
    display:flex;
    align-items:end;
}

.footer_item2 {
    width:67%;
    display:flex;
    justify-content:space-between;
}

.footer_links {
    width:50%;
    display:flex;
    justify-content:space-between;
}

.footer_link1 {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.footer_link1head, .footer_link2head {
    color:#9F9F9F;
}

.footer_link2 {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height:242px;
}

.link1_unorderedlist {
    height:233px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
} 

.link2_unorderedlist {
    height:163px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.link2_links, .link1_links {
    text-decoration:none;
    color:#000000;
}
.link2_listitems, .link1_listitems {
    list-style-type:none;
}

.footer_lastitem {
    width:37%;
    height:101px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.lastitem_head {
    color:#9F9F9F;
}

.lastitem_text{
    display:inline-flex;
    justify-content: space-between;
}
.lastitem_spantext, .lastitem_spantext {
    text-decoration:underline;
}

/* FOOTER STYLING ENDS HERE */


/* SHOP.HTML */

/* SHOP HEADER STYLING STARTS HERE */

.shop-header {
    margin:0 auto;
    max-width:1440px;
    height:311px;
    background-image:url(../assets/images/shop-header-background--img.png);
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.shopheader-head {
    font-weight:500;
}

.shopheader-spantext1 {
    font-weight:bold;
}

/* SHOP HEADER STYLING ENDS HERE */

/* SHOP SUBHEADER STYLING STARS HERE */

.shop-subheader {
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    max-width:1440px;
    height:100px;
    background-color:#F9F1E7;
}

.subheader-content1, .subheader-content2 {
    width:31%;
    height:55px;
    margin-left:98px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.subheader-content2 {
    margin-right:100px;
}
.content2-textdiv {
    width:62%;
    height:inherit;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.content2-text1 {
    height:inherit;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:30%;
}

.content2-span1 {
    width:50%;
    height:inherit;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#FFFFFF;
}
.spandiv{
    width:72%;
    background-color:#FFFFFF;
    height:inherit;
    display:flex;
    align-items:center;
}
.content2-span2{margin-left:10%}

/* SHOP SUBHEADER STYLING STARTS HERE */

/* SHOP CONTAINER STYLING STARTS HERE */

.shop-container {
    margin:46px auto 0;
    max-width:1440px;
    height:2051px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.shop-image-container {
    margin-top:17px;
    width:fit-content;
    height:2034px;
    display:grid;
    gap:40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    '.third-container_img1 .third-container_img1 .third-container_img3 .third-container_img4'
    '.third-container_img1 .third-container_img1 .third-container_img3 .third-container_img4'
    '.third-container_img1 .third-container_img1 .third-container_img3 .third-container_img4'
    '.third-container_img1 .third-container_img1 .third-container_img3 .third-container_img4';
}

.shopproduct-card {
    position:relative;
}

.shop-overlay {
    position:absolute;
    line-height:4rem;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0 , 0.5);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition:0.5s ease-in;
    opacity:0;
}

.shop-image-container .shopproduct-card:hover .shop-overlay {
    opacity:1;
}

.shop-container-figcaption {
    background-color:#F4F5F7;
    padding:16px 16px 15px 42px;
    line-height:2rem;
    height:31%;
}

.shop-btn {
    width:28%;
    height:90px;
    display:flex;
    justify-content: space-between;
    align-items: end; 
}

.shop-btn1,  
.shop-btn2,  
.shop-btn3  {
    width:45px;
    height:50px;
    border:none;
    border-radius:10px;
    background-color:#F9F1E7;
}

.shop-nextbtn {
    width:90px;
    height:50px;
    border:none;
    border-radius:10px;
    background-color:#F9F1E7;
}

.shop-nextbtn:active {
    background-color:#B88E2F;
    color:#FFFFFF;
}

/* SHOP CONTAINER STYLING ENDS HERE */

/* SHOP SUBFOOTER STYLING STARTS HERE */

.shop-subfooter {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    max-width:1440px;
    height:270px;
    margin:85px auto 0;
    background-color:#FAF3EA;
}

.subfooter-content {
    width:97%;
    height:70px;
    display: flex;
    justify-content: space-between;
}

.subfooter-content1 {
    width:337px;
    display:flex;
}

.subfooter-content2 {
    width:328px;
    display:flex;
}

.content1-text1, .content2-text1, .content3-text1, .content4-text1 {
    white-space: nowrap;
}

.subfooter-content3 {
    width:244px;
    display:flex;
}

.subfooter-content4 {
    width:259px;
    display:flex;
}

.content1-text, .content2-text, .content3-text, .content4-text {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

/* SHOP SUBFOOTER STYLING ENDS HERE */

/* SHOP FOOTER STYLING STARTS HERE */

.shop-footer {
    margin:0 auto;
    font-size:13px;
    max-width:1440px;
    height:505px;
    display:flex;
    justify-content:center;
}

/* SHOP FOOTER STYLING ENDS HERE */



/* CONTACT.HTML */

/* CONTACT MAIN STYLING STARTS HERE */

.contact-main {
    margin:0 auto;
    max-width:1440px;
    height:1144px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}

.contact-content1-text1 {
    text-align:center;
}

.contact-content1-text2 {
    width:644px;
    text-align:center;
}

.contact-content2 {
    width:77%;
    height:923px;
    margin-top:14px;
    display:flex;
    justify-content:space-between;
}

.contact-content2-item {
    margin-top:82px;
    width:42%;
    height:537px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}

.contact-content2-item1, .contact-content2-item2, .contact-content2-item3 {
    width:272px;
    display:flex;
    justify-content:space-between;
}

.contact-icon-img1, .contact-icon-img2, .contact-icon-img3 {
    height:fit-content;
}

.contact-item1-text2, .contact-item2-text2, .contact-item3-text2 {
    width:212px;
}


.contact-content2-table {
    width:561px;
    height:923px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.contact-table-content {
    width:85%;
    height:740px;
    margin-top:119px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.contact-input {
    outline:1px solid #000;
    border-radius:10px;
    height:75px;
    padding:2rem;
}

.contact-btn {
    width:40%;
    height:55px;
    color:#FFFFFF;
    background-color: #B88E2F;
    border-radius:7px;
    border:none;
    margin-left:2%;

}

/* CONTACT MAIN STYLING ENDS HERE */

/* CONTACT SUBFOOTER STYLING STARTS HERE */

.contact-subfooter {
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    max-width:1440px;
    height:270px;
    background-color:#FAF3EA;
}

/* CONTACT SUBFOOTER STYLING ENDS HERE */

/* CONTACT FOOTER STYLING STARTS HERE */

.contact-footer {
    border-top:1px solid rgba(0, 0, 0 , 0.3);
    margin:30px auto 0;
    font-size:13px;
    max-width:1440px;
    height:505px;
    display:flex;
    justify-content:center;
}

/* CONTACT FOOTER STYLING ENDS HERE */

/* BLOG.HTML */

.blog-main {
    margin:0 auto;
    max-width:1440px;
    height:2680px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.blog-content {
    margin-top:58px;
    height:2490px;
    display:flex;
    justify-content: space-evenly;
}

.blog-content1 {
    width:61%;
    height:2490px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-left:2%;
}

.blog-content1-figure1, .blog-content1-figure2, .blog-content1-figure3{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:794px;
}

.blogfigure-img {
    width:100%;
    min-height:500px;
}

.figure-figcaption {
    width:45%;
    height:17px;
    display:flex;
    justify-content:space-between;
}

.figure-figcaption-span1 {
    width:17%;
    display:flex;
    justify-content:space-between;
}

.figure-figcaption-span2 {
    width:26%;
    display:flex;
    justify-content:space-between;
}

.figure-figcaption-span3 {
    width:16%;
    display:flex;
    justify-content:space-between;
}

.figure-figcaption-text {
    color:#9F9F9F;
    font-size:13px;
}








.figure2-figcaption {
    width:45%;
    height:17px;
    display:flex;
    justify-content:space-between;
}

.figure2-figcaption-text {
    color:#9F9F9F;
    font-size:12px;
}

.figure2-figcaption-span1 {
    width:17%;
    display:flex;
    justify-content:space-between;
}

.figure2-figcaption-span2 {
    width:25%;
    display:flex;
    justify-content:space-between;
}

.figure2-figcaption-span3 {
    width:23%;
    display:flex;
    justify-content:space-between;
}








.blog-figuretext {
    height:238px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.blog-figuretext1 {
    color:#9F9F9F;
    font-size:15px;
}

.blog-empty-span {
    width:8%;
    margin-left:1%;
    border-bottom:2px solid;
}
.blog-content2 {
    width:29%;
    height:1228px;
    margin-top:-2.2%;
    margin-right:1%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.blog-content2-item1{
    width:100%;
    height:537px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    position:relative;
}

.blog-content2-item1 .fa {
    position:absolute;
    font-size:2rem;
    right:13%;
    top:8%;
}

.blog-content2-item1input {
    width:311px;
    height:58px;
    font-size:medium;
    padding:1rem;
    outline:none;
    border-radius:10px;
}

.blog-item1-content2 {
    width:55%;
    height:353px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.blog-item1-content2text{
    color:#9F9F9F;
    font-size:15px;
    display:flex;
    justify-content: space-between;
}

.blog-btn {
    margin-top:54px;
    width:28%;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: end; 
}

.blog-btn1,  
.blog-btn2,  
.blog-btn3  {
    width:45px;
    height:50px;
    border:none;
    border-radius:10px;
    background-color:#F9F1E7;
}

.blog-nextbtn {
    width:90px;
    height:50px;
    border:none;
    border-radius:10px;
    background-color:#F9F1E7;
}

.blog-nextbtn:active {
    background-color:#B88E2F;
    color:#FFFFFF;
}

.blog-content2-item2 {
    width:100%;
    height:650px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.blog-item2-content {
    width:65%;
    height:618px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.blog-content2-figure1, .blog-content2-figure2, .blog-content2-figure3, .blog-content2-figure4,.blog-content2-figure5 {
    width:90%;;
    height:80px;
    display:flex;
    justify-content:space-between;

}

.blog-content2-figure1text, .blog-content2-figure2text, .blog-content2-figure3text, .blog-content2-figure4text,.blog-content2-figure5text {
    width:58%;
}

.blog-content2-figure1text1, .blog-content2-figure2text1, .blog-content2-figure3text1, .blog-content2-figure4text1, .blog-content2-figure5text1 {
    font-size:12px;
}

.blog-content2-figure1text2, .blog-content2-figure2text2, .blog-content2-figure3text2, .blog-content2-figure4text2, .blog-content2-figure5text2 {
    color:#9F9F9F;
    font-size:12px;
}

.blog-content2-figure3spantext {white-space:nowrap;}

/* BLOG MAIN STYLING ENDS HERE */

/* BLOG SUBFOOTER STYLING STARTS HERE */

.blog-subfooter {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    max-width:1440px;
    height:270px;
    margin:58px auto 0;
    background-color:#FAF3EA;
}

/* BLOG SUBFOOTER STYLING ENDS HERE */

/* BLOG FOOTER STYLING STARTS HERE */

.blog-footer {
    border-top:1px solid rgba(0, 0, 0 , 0.3);
    margin:22px auto 0;
    font-size:13px;
    max-width:1440px;
    height:505px;
    display:flex;
    justify-content:center;
}

/* BLOG FOOTER STYLING ENDS HERE */


/* CART.HTML */
/* CART MAIN STYLING START HERE */

.cart-main {
    margin:0 auto;
    max-width:1440px;
    height:525px;
    display:flex;
    justify-content: center;
}

.cart-content {
    width:90%;
    height:430px;
    display:flex;
    justify-content:space-between;
    margin-top:32px;
}

.cart-content1 {
    width:70%;
    height:215px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.cart-list {
    width:100%;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    background-color:#F9F1E7;
}

.cart-listitem {
    list-style-type:none;
}

.cart-figure {
    position:relative;
    display:flex;
    align-items:end;
}

.cart-figcaption {
    font-size:13px;
    width:72%;
    height:25px;
    margin-left:1%;
    display:flex;
    justify-content:space-between;
}

.cart-span1, .cart-span2, .cart-span3 {
    color:#9F9F9F
}

.cart-span2 {
    position:absolute;
    left:35%;
    bottom:0;
}

.cart-span3 {
    border: 1px solid #9F9F9F;
    font-size:18px;
    position:absolute;
    padding:1px 5px;
    bottom:0;
    left:58%;
    border-radius:3px;
}

.cartimg-span {
    width:13%;
    height:105px;
    border-radius:1rem;
    background-color: #F9F1E7;
}

.cart-figure .fa {
    position:absolute;
    color:#B88E2F;
    right:0;
    top:40%;
}

.cart-content2 {
    background-color:#F9F1E7;
    width:28%;
    height:390px;
    display:flex;
    justify-content:center;
    margin-top:36px;
}

.cart-content2-content {
    width:75%;
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.cart-content2item {
    width:100%;
    height:90px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.cart-content2item1 {
    display:flex;
    justify-content:space-between;
    font-size:15px;
}

.cart-content2span1 {
    color:#9F9F9F;
}

.cart-content2span2 {
    font-size:18px;
    color:#B88E2F;
}

.cart-content2-btn {
    width:200px;
    height:59px;
    border-radius:1rem;
    outline:none;
    border:1px solid #000;
    background-color:transparent;
}

/* CART MAIN STYLING ENDS HERE */

/*  CART SUBFOOTER STYLING STARTS HERE */

.cart-subfooter {
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    max-width:1440px;
    height:270px;
    background-color:#FAF3EA;
}

/* CART SUBFOOTER STYLING ENDS HERE */

/* CART FOOTER STYLING STARTS HERE */

.cart-footer {
    border-top:1px solid rgba(0, 0, 0 , 0.3);
    margin:30px auto 0;
    font-size:13px;
    max-width:1440px;
    height:505px;
    display:flex;
    justify-content:center;
}

/* CART FOOTER STYLING ENDS HERE */


/* PRODUCT-COMPARISON.HTML */
/* PRODUCT COMPARISON MAIN STYLING STARTS HERE */

.product-main {
    margin:0 auto;
    max-width:1440px;
    height:2757px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.product-main-content {
    margin:0 auto;
    width:96%;
    height:2645px;
}

.product-content1 {
    width:100%;
    height:331px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.product-item1 {
    width:18%;
    height:159px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.product-item1text {
    color:#9F9F9F;
    font-size:14px;
    display:flex;
    flex-direction:column;
}

.product-item1span {
    border-top:2px solid #000;
    width:40%;
}

.product-item2, .product-item3 {
    width:22%;
    height:288px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.product-item2img, .product-item3img {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:177px;
    overflow:hidden;
    border-radius:10px;
    background-color:#F9F1E7;
}
 
.product-item2figcaption, .product-item3figcaption {
    height:90px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.product-item2figtext2, .product-item3figtext2 {
    width:85%;
    display:flex;
    justify-content:space-between;
}

.product-item2span1 .fa, .product-item3span1 .fa {
    color:#FFC700;
}

.product-item2emptyspan, .product-item3emptyspan {
    border:1px solid #9F9F9F;
}

.product-item2span2, .product-item3span2 {
    font-size:12px;
    color:#9F9F9F;
}

.product-item4 {
    width:19%;
    height:79px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.product-item4btn {
    width:100%;
    height:39px;
    background-color: #B88E2F;
    color:#FFFFFF;
    border:none;
    border-radius:10px;
    font-size:13px;
    padding-left:1rem;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.product-item4span .fa {
    font-size: 1.5rem;
}

.product-horizontal-rule {
    width:100%;
    height:0;
    border:1px solid #E8E8E8;
    margin-top:60px;
}

.product-content2 {
    border-right:2px solid #E8E8E8;
    position:relative;
    width:56%;
    height:2259px;
    margin-left:2rem;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.content2-section1 {
    font-size:14px;
    width:100%;
    height:398px;
    display:flex;
    align-items:end;
    justify-content:space-around;
}

.content2-section1-list1 {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.content2-listhead {
    list-style-type:none;
    font-size:28px;
    font-weight:bold;
}

.section-listitems {
    list-style-type:none;
}

.content2-section1-list2 {
    height:81%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.content2-section1-list3 {
    width:30%;
    height:81%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.section-vertical-rule1 {
    border:1.5px solid #E8E8E8;
    position:absolute;
    left:31%;
    bottom:0;
    width:0;
    height:2259px;
}

.section-vertical-rule2 {
    border:1.5px solid #E8E8E8;
    position:absolute;
    left:60%;
    bottom:0;
    width:0;
    height:2259px;
}

.content2-section2 {
    font-size:14px;
    width:100%;
    height:389px;
    display:flex;
    align-items:end;
    justify-content:space-around;
}

.content2-section2-list1 {
    width:27%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.content2-section2-list2 {
    width:20%;
    height:78%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.content2-section2-list3 {
    width:30%;
    height:78%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.content2-section3 {
    font-size:14px;
    width:100%;
    height:382px;
    display:flex;
    align-items:end;
    justify-content:space-around;
}

.content2-section3-list1 {
    width:22%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.content2-section3-list2 {
    width:18%;
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.content2-section3-list3 {
    width:29%;
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.content2-section4 {
    font-size:14px;
    width:100%;
    height:913px;
    display:flex;
    align-items:flex-end;
    gap:13%;
}

.content2-section4-list1 {
    margin-bottom:19%;
    width:22%;
    height:70%;
    display:flex;
    flex-direction:column;
    gap:16%;
}

.content2-section4-list2 {
    width:22%;
    height:70%;
    margin-top:20%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.content2-section4-list3 {
    width:22%;
    height:70%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.content2-section4-listbtn {
    width:141px;
    height:54px;
    color:#FFFFFF;
    background-color:#B88E2F;
    border:none;
    outline:none;
}

/* PRODUCT COMPARISON MAIN STYLING ENDS HERE */

/* PRODUCT COMPARISON SUBFOOTER STYLING STARTS HERE */

.product-subfooter {
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    max-width:1440px;
    height:270px;
    background-color:#FAF3EA;
}

/* PRODUCT COMPARISON SUBFOOTER STYLING ENDS HERE */

/* PRODUCT COMPARISON FOOTER STYLING STARTS HERE */

.product-footer {
    border-top:1px solid rgba(0, 0, 0 , 0.3);
    margin:30px auto 0;
    font-size:13px;
    max-width:1440px;
    height:505px;
    display:flex;
    justify-content:center;
}

/* PRODUCT COMPARISON FOOTER STYLING ENDS HERE */


/* CHECKOUT.HTML */

/* CHECKOUT MAIN STYLING STARTS HERE */

.checkout-main {
    margin:0 auto;
    max-width:1440px;
    height:1829px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.checkout-content {
    width:90%;
    height:1714px;
    display:flex;
    justify-content:space-between;
}

.checkout-content1 {
    width:49%;
    height:1714px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}

.checkout-content1head {
    width:455px;
    font-size:36px;
}

.checkout-content1div {
    width:455px;
    height:121px;
    display:flex;
    justify-content:space-between;
}

.checkout-divlabel {
    width:212px;
    height:inherit;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.checkout-divinput {
    width:211px;
    height:75px;
    border-radius:10px;
    padding:18px;
    outline:none;
}

.checkout-label {
    width:455px;
    height:121px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.checkout-input {
    width:455px;
    height:75px;
    border-radius:10px;
    padding:18px;
    font-size:18px;
    outline:none;
}

.checkout-content2 {
    width:49%;
    height:789px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.checkout-content2item {
    width:87%;
    height:616px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.checkout-item1 {
    display:flex;
    justify-content:space-between;
}

.checkout-item2 {
    color:#9F9F9F;
    display:flex;
    justify-content:space-between;
}

.checkout-item2span {
    color:#000;
}

.checkout-item3 {
    display:flex;
    justify-content:space-between;
}

.checkout-item4 {
    display:flex;
    justify-content:space-between;
}

.checkout-item4span {
    color:#B88E2F;
    font-size:24px;
    font-weight:bold;
}

.checkout-item5 {
    width:191px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.checkout-icon {
    width:14px;
    height:14px;
}

.checkout-item6 {
    color:#9F9F9F;
    word-spacing:5px;
}

.checkout-item7 {
    width:191px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.checkout-item8 {
    width:167px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.checkout-item9 {
    word-spacing:7px;
}

.checkout-item9span {
    font-weight:bold;
}

.checkout-btndiv {
    display:flex;
    align-items:center;
    justify-content:center;
}

.checkout-content2btn {
    width:318px;
    height:62px;
    border-radius:1rem;
    background:none;
    outline:none;
}

/* CHECKOUT MAIN STYLING ENDS */

/* CHECKOUT SUBFOOTER STYLING STARTS HERE */

.checkout-subfooter {
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    max-width:1440px;
    height:270px;
    background-color:#FAF3EA;
}

/* CHECKOUT SUBFOOTER STYLING ENDS HERE */

/* CHECKOUT FOOTER STYLING STARTS HERE */

.checkout-footer {
    margin:0 auto;
    font-size:13px;
    max-width:1440px;
    height:505px;
    display:flex;
    justify-content:center;
}

/* CHECKOUT FOOTER STYLING ENDS HERE */

/* .sidebar-container {
    position:fixed;
    background-color:rgba(0, 0, 0, 0.5);
    display:flex;
    flex-direction:column;
    width:1400px;
    height:100%;
    top:0;
} */

.sidebar {
    position:fixed;
    width:1440px;
    height:100vh;
    margin:0 auto;
    top:0;
    background-color: rgba(0, 0, 0, 0.5);
    display:none;
    transition:all 3s;
}

@keyframes slide-in{
    from {
        right:-30%;
        opacity: 0;
        /* transform: translatex(-500px) */;
    }

    to {
        right:0;
    }

}

.sidebar-content {
    position:absolute;
    width:405px;
    height:746px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    top:0;
    right:0;
    background-color:#FFFFFF;
    animation:slide-in 0.5s ease-in;
}

.sidebar-content1 {
    width:350px;
    height:334px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-top:28px;
}

.sidebar-content1head {
    display:flex;
    justify-content:space-between;
}

.sidebar-horizontalrule1 {
    width:287px;
    height:0;
    border:1px solid #898989;
}

.sidebar-item1, .sidebar-item2 {
    width:100%;
    height:105px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.sidebar-item1span1 {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:108px;
    height:105px;
    border-radius:10px;
    background-color:#FFF3E3;
}

.sidebar-item1span2, .sidebar-item2span2 {
    line-height:2rem;
}

.sidebar-text2span {
    font-size:14px;
    color:#B88E2F;
}

.sidebar .fa {
    color:gray;
}

.sidebar-content2 {
    width:100%;
    height:117px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-bottom:28px;
}

.sidebar-content2text {
    display:flex;
    justify-content:space-between;
    width:218px;
    margin-left:31px;
}

.sidebar-content2span {
    color:#B88E2F;
}

.sidebar-horizontalrule2 {
    width:100%;
    height:0;
    border:1px solid #898989;
}

.sidebar-content2button {
    width:90%;
    height:40px;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    font-size:12px;
}

.sidebar-content2btn1 {
    width:85px;
    border:1.5px solid;
    border-radius:4rem;
    outline:none;
    background:transparent;
}

.sidebar-content2btn2 {
    width:115px;
    border:1.5px solid;
    border-radius:3rem;
    background:transparent;
}

.sidebar-content2btn3 {
    width:135px;
    border:1.5px solid;
    border-radius:3rem;
    background:transparent;
}